.nav {
    background-color: #FFCC99;
}

.nav a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 14px;
  text-transform: uppercase;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #0099FF;
}
.nav li {
  display: inline;
}

.jumbotron {
  background-image: url(IMG_2613.jpg);
  background-size: cover;
  min-height: 300px;
}

.jumbotron .container {
  position: relative;
}

.jumbotron h1 {
  font-family: 'Josefin', sans-serif;
}

.About-Me h2 {
  font-family: 'Josefin', sans-serif;
}

.About-Me h3 {
  padding-bottom: 25px;
}

.About-Me .col-md-offset-3 {
  padding-bottom: 25px;
}

.About-Me .col-md-offset-4 {
  padding-bottom: 25px;
}

.Education h2 {
  font-family: 'Josefin', sans-serif;
}

.Berkeley .rel-pos {
  position: relative;
}

.Berkeley .over-text {
  padding-left: 10px;
  width: 100%;
  position: absolute;
  top: 20px;
  color: white;
  font-family: 'Josefin', sans-serif;
}

.Berkeley .caption {
  display: inline;
}

.LAHS .over-text {
  padding-left: 10px;
  width: 100%;
  position: absolute;
  top: 535px;
  color: white;
  font-family: 'Josefin', sans-serif;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Josefin', sans-serif;
}

.learn-more a {
  color: #00b0ff;
}

.Projects h2 {
  font-family: 'Josefin', sans-serif;
}
