body {
  background: #00C9FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00C9FF , #92FE9D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00C9FF , #92FE9D)
}

.nav {
  background-color: #FFCC99;
}

.nav a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 14px;
  text-transform: uppercase;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #0099FF;
}
.nav li {
  display: inline;
}

.jumbotron {
  position: relative;
  background-image: url(IMG_2613.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
}


.jumbotron h1 {
  font-family: 'Josefin', sans-serif;
}

.About-Me h2 {
  font-family: 'Josefin', sans-serif;
}

.About-Me h3 {
  padding-bottom: 25px;
}

.About-Me .col-md-6 .text-center {
  padding-bottom: 25px;
}

.About-Me .col-md-6 {
  border: 3px solid #5bc0de;
}

.About-Me .col-md-offset-3 {
  padding-bottom: 25px;
}

.About-Me .col-md-offset-4 {
  padding-bottom: 25px;
}

.Education h2 {
  font-family: 'Josefin', sans-serif;
}

.Berkeley .rel-pos {
  position: relative;
}

.Berkeley .over-text {
  padding-left: 10px;
  width: 100%;
  position: absolute;
  top: 20px;
  color: white;
  font-family: 'Josefin', sans-serif;
}

.Berkeley .caption {
  display: inline;
}

.Berkeley .caption .pull-left {
  padding-left: 20px;
}

.Berkeley .caption .pull-right {
  padding-right: 20px;
}

.LAHS .caption {
  display: inline;
}

.LAHS .caption .pull-left {
  padding-left: 50px;
}

.LAHS .caption .pull-right {
  padding-right: 50px;
}

.LAHS .over-text {
  padding-left: 10px;
  width: 100%;
  position: absolute;
  top: 480px;
  color: white;
  font-family: 'Josefin', sans-serif;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Josefin', sans-serif;
}

.learn-more a {
  color: #00b0ff;
}

.Work-Experience .text-center .thumbnail {
    width: 900px;
}

.Work-Experience .job-desc {
  padding-top: 70px;
}

.Work-Experience .tennis-teacher .col-md-5 .thumbnail {
  height: 200px;
  width: 200px;
}

.Projects h2 {
  font-family: 'Josefin', sans-serif;
}
