.nav a {
  color: #0099FF;
  font-size: 14px;
  font-weight: bold;
  padding: 14px;
  text-transform: uppercase;
}

.nav-pills a {
    color: #ffffff
}
.nav li {
  display: inline;
}

.jumbotron {
  height: 500px;
  background-image: url(IMG_2624.jpg);
}

.jumbotron .container {
    position: relative;
}

.jumbotron h1 {
  font-family: 'Josefin', sans-serif;
}

.learn-more {
    background-color: #f7f7f7;
}

.learn-more h3 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Josefin', sans-serif;
}

.learn-more a {
    color: #00b0ff;
}
